missions/10_kafka/Stream_Processing.json
{"flowContents":{"identifier":"f9156913-f034-327a-b0d5-20faff7c49f7","name":"Stream Processing","comments":"","position":{"x":1096.0,"y":220.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"0c533898-05da-3e74-9fe5-7dde87bdbace","name":"MergeContent","comments":"","position":{"x":880.0,"y":232.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.2.0.3.0-13"},"style":{},"type":"org.apache.nifi.processors.standard.MergeContent","properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","Compression Level":"1","Maximum Number of Entries":"100000","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Filename","Merge Format":"Binary Concatenation","Footer File":null,"Max Bin Age":"30s","Demarcator File":null,"Correlation Attribute Name":null,"Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"1"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"f9156913-f034-327a-b0d5-20faff7c49f7"},{"identifier":"c86ad0c3-2f54-31a5-9c90-30d16004f9ed","name":"PutS3Object","comments":"","position":{"x":880.0,"y":432.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.11.4.2.0.3.0-13"},"style":{},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","properties":{"Proxy Host":null,"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","proxy-configuration-service":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":null,"Multipart Upload Max Age Threshold":"7 days","canned-acl":"${s3.permissions.cannedacl}","Signer Override":"Default Signature","Content Type":null,"Write ACL User List":"${s3.permissions.writeacl.users}","server-side-encryption":"None","Read ACL User List":"${s3.permissions.readacl.users}","encryption-service":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","Object Key":"external/streaming/${filename}","AWS Credentials Provider service":null,"Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"cnelson2-data","Multipart Upload AgeOff Interval":"60 min","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Credentials File":null,"Region":"us-east-2","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"proxy-user-name":null,"Proxy Host Port":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider service","identifiesControllerService":true,"sensitive":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"f9156913-f034-327a-b0d5-20faff7c49f7"},{"identifier":"6b13912f-18dc-3ccb-982b-2ef830b1d837","name":"ConsumeKafka_2_0","comments":"","position":{"x":880.0,"y":24.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-0-nar","version":"1.11.4.2.0.3.0-13"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_0","properties":{"header-name-regex":null,"sasl.username":"cnelson2","max.poll.records":"10000","group.id":"test_consumer","bootstrap.servers":"10.10.1.6:9093, 10.10.1.135:9093, 10.10.1.136:9093","topic_type":"names","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"security.protocol":"SASL_SSL","kerberos-credentials-service":null,"ssl.context.service":"29ca6f3b-cb66-3192-8a01-7201eb925c10","max-uncommit-offset-wait":"1 secs","sasl.mechanism":"PLAIN","sasl.token.auth":"false","sasl.kerberos.keytab":null,"honor-transactions":"false","Communications Timeout":"60 secs","topic":"gravity_topic","message-header-encoding":"UTF-8","message-demarcator":null,"key-attribute-encoding":"utf-8","auto.offset.reset":"latest"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"f9156913-f034-327a-b0d5-20faff7c49f7"},{"identifier":"4d4400b5-88dc-37e5-bd57-fd240325f6aa","name":"PublishKafka_2_0","comments":"","position":{"x":224.0,"y":256.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-0-nar","version":"1.11.4.2.0.3.0-13"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_0","properties":{"compression.type":"none","attribute-name-regex":null,"bootstrap.servers":"10.10.1.6:9093, 10.10.1.135:9093, 10.10.1.136:9093","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"kafka-key":null,"partition":null,"sasl.mechanism":"PLAIN","max.block.ms":"5 sec","message-header-encoding":"UTF-8","message-demarcator":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":"cnelson2","use-transactions":"false","acks":"0","security.protocol":"SASL_SSL","ssl.context.service":"29ca6f3b-cb66-3192-8a01-7201eb925c10","max.request.size":"1 MB","sasl.token.auth":"false","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"gravity_topic","key-attribute-encoding":"utf-8"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"f9156913-f034-327a-b0d5-20faff7c49f7"},{"identifier":"1cce8c4a-4a43-3e88-99f8-12fffc632fda","name":"ListenTCP","comments":"","position":{"x":224.0,"y":32.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.2.0.3.0-13"},"style":{},"type":"org.apache.nifi.processors.standard.ListenTCP","properties":{"SSL Context Service":null,"Max Size of Socket Buffer":"1 MB","Max Number of TCP Connections":"2","Local Network Interface":null,"Max Batch Size":"1","Port":"29877","Receive Buffer Size":"65507 B","Character Set":"UTF-8","Client Auth":"NONE","Max Size of Message Queue":"10000","Message Delimiter":"\\n"},"propertyDescriptors":{"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Max Size of Socket Buffer":{"name":"Max Size of Socket Buffer","displayName":"Max Size of Socket Buffer","identifiesControllerService":false,"sensitive":false},"Max Number of TCP Connections":{"name":"Max Number of TCP Connections","displayName":"Max Number of TCP Connections","identifiesControllerService":false,"sensitive":false},"Local Network Interface":{"name":"Local Network Interface","displayName":"Local Network Interface","identifiesControllerService":false,"sensitive":false},"Max Batch Size":{"name":"Max Batch Size","displayName":"Max Batch Size","identifiesControllerService":false,"sensitive":false},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false},"Receive Buffer Size":{"name":"Receive Buffer Size","displayName":"Receive Buffer Size","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Client Auth":{"name":"Client Auth","displayName":"Client Auth","identifiesControllerService":false,"sensitive":false},"Max Size of Message Queue":{"name":"Max Size of Message Queue","displayName":"Max Size of Message Queue","identifiesControllerService":false,"sensitive":false},"Message Delimiter":{"name":"Message Delimiter","displayName":"Batching Message Delimiter","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"f9156913-f034-327a-b0d5-20faff7c49f7"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"01db9a18-3b4c-3d2c-9c68-9c64e7d475ec","name":"","source":{"id":"1cce8c4a-4a43-3e88-99f8-12fffc632fda","type":"PROCESSOR","groupId":"f9156913-f034-327a-b0d5-20faff7c49f7","name":"ListenTCP","comments":""},"destination":{"id":"4d4400b5-88dc-37e5-bd57-fd240325f6aa","type":"PROCESSOR","groupId":"f9156913-f034-327a-b0d5-20faff7c49f7","name":"PublishKafka_2_0","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f9156913-f034-327a-b0d5-20faff7c49f7"},{"identifier":"7dc29f07-8ddc-3451-9aa4-500fcbc1b919","name":"","source":{"id":"0c533898-05da-3e74-9fe5-7dde87bdbace","type":"PROCESSOR","groupId":"f9156913-f034-327a-b0d5-20faff7c49f7","name":"MergeContent","comments":""},"destination":{"id":"0c533898-05da-3e74-9fe5-7dde87bdbace","type":"PROCESSOR","groupId":"f9156913-f034-327a-b0d5-20faff7c49f7","name":"MergeContent","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1349.4000244140625,"y":271.79999923706055},{"x":1349.4000244140625,"y":321.79999923706055}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f9156913-f034-327a-b0d5-20faff7c49f7"},{"identifier":"baa5693c-8576-3157-a8c2-f695fea54fac","name":"","source":{"id":"c86ad0c3-2f54-31a5-9c90-30d16004f9ed","type":"PROCESSOR","groupId":"f9156913-f034-327a-b0d5-20faff7c49f7","name":"PutS3Object","comments":""},"destination":{"id":"c86ad0c3-2f54-31a5-9c90-30d16004f9ed","type":"PROCESSOR","groupId":"f9156913-f034-327a-b0d5-20faff7c49f7","name":"PutS3Object","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1341.39990234375,"y":474.1999931335449},{"x":1341.39990234375,"y":524.1999931335449}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f9156913-f034-327a-b0d5-20faff7c49f7"},{"identifier":"24294dbc-6c22-3d3d-b56b-9ca9f79edc15","name":"","source":{"id":"6b13912f-18dc-3ccb-982b-2ef830b1d837","type":"PROCESSOR","groupId":"f9156913-f034-327a-b0d5-20faff7c49f7","name":"ConsumeKafka_2_0","comments":""},"destination":{"id":"0c533898-05da-3e74-9fe5-7dde87bdbace","type":"PROCESSOR","groupId":"f9156913-f034-327a-b0d5-20faff7c49f7","name":"MergeContent","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f9156913-f034-327a-b0d5-20faff7c49f7"},{"identifier":"5e579fe0-617b-3dc8-9bca-5a4b611fca31","name":"","source":{"id":"0c533898-05da-3e74-9fe5-7dde87bdbace","type":"PROCESSOR","groupId":"f9156913-f034-327a-b0d5-20faff7c49f7","name":"MergeContent","comments":""},"destination":{"id":"c86ad0c3-2f54-31a5-9c90-30d16004f9ed","type":"PROCESSOR","groupId":"f9156913-f034-327a-b0d5-20faff7c49f7","name":"PutS3Object","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f9156913-f034-327a-b0d5-20faff7c49f7"},{"identifier":"70b8d163-d91b-3ee1-9329-ef90e4d1818b","name":"","source":{"id":"4d4400b5-88dc-37e5-bd57-fd240325f6aa","type":"PROCESSOR","groupId":"f9156913-f034-327a-b0d5-20faff7c49f7","name":"PublishKafka_2_0","comments":""},"destination":{"id":"4d4400b5-88dc-37e5-bd57-fd240325f6aa","type":"PROCESSOR","groupId":"f9156913-f034-327a-b0d5-20faff7c49f7","name":"PublishKafka_2_0","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":694.0,"y":298.0},{"x":694.0,"y":348.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f9156913-f034-327a-b0d5-20faff7c49f7"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"componentType":"PROCESS_GROUP"},"externalControllerServices":{"29ca6f3b-cb66-3192-8a01-7201eb925c10":{"identifier":"29ca6f3b-cb66-3192-8a01-7201eb925c10","name":"Default NiFi SSL Context Service"}},"parameterContexts":{},"flowEncodingVersion":"1.0"}