missions/3_nifi_ingestion/From__S3_.json
{"flowContents":{"identifier":"e1d8f9c1-9776-337c-80a2-eb7ac1180724","name":"From \"S3\"","comments":"","position":{"x":24.0,"y":96.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"6b447f4a-7f3b-334f-8dd6-40f51b26a11d","name":"FetchFile","comments":"","position":{"x":377.999986559756,"y":61.99999595006221},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.2.0.3.0-13"},"style":{},"type":"org.apache.nifi.processors.standard.FetchFile","properties":{"Move Conflict Strategy":"Rename","Log level when file not found":"ERROR","Move Destination Directory":null,"Log level when permission denied":"ERROR","File to Fetch":"${absolute.path}/${filename}","Completion Strategy":"None"},"propertyDescriptors":{"Move Conflict Strategy":{"name":"Move Conflict Strategy","displayName":"Move Conflict Strategy","identifiesControllerService":false,"sensitive":false},"Log level when file not found":{"name":"Log level when file not found","displayName":"Log level when file not found","identifiesControllerService":false,"sensitive":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false},"Log level when permission denied":{"name":"Log level when permission denied","displayName":"Log level when permission denied","identifiesControllerService":false,"sensitive":false},"File to Fetch":{"name":"File to Fetch","displayName":"File to Fetch","identifiesControllerService":false,"sensitive":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e1d8f9c1-9776-337c-80a2-eb7ac1180724"},{"identifier":"a25a5753-8e1b-3375-89d2-56eff857fbb2","name":"ListFile","comments":"","position":{"x":376.0,"y":-176.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.2.0.3.0-13"},"style":{},"type":"org.apache.nifi.processors.standard.ListFile","properties":{"Minimum File Age":"0 sec","et-initial-listing-target":"all","Maximum File Age":null,"max-listing-time":"3 mins","Maximum File Size":null,"et-time-window":"3 hours","et-node-identifier":"${hostname()}","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null,"Include File Attributes":"true","Input Directory Location":"Local","listing-strategy":"timestamps","Input Directory":"/tmp/data","target-system-timestamp-precision":"auto-detect","track-performance":"false","max-performance-metrics":"100000","Minimum File Size":"0 B","Ignore Hidden Files":"true","et-state-cache":null,"max-operation-time":"10 secs"},"propertyDescriptors":{"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"max-listing-time":{"name":"max-listing-time","displayName":"Max Directory Listing Time","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false},"et-node-identifier":{"name":"et-node-identifier","displayName":"Entity Tracking Node Identifier","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false},"Include File Attributes":{"name":"Include File Attributes","displayName":"Include File Attributes","identifiesControllerService":false,"sensitive":false},"Input Directory Location":{"name":"Input Directory Location","displayName":"Input Directory Location","identifiesControllerService":false,"sensitive":false},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"target-system-timestamp-precision":{"name":"target-system-timestamp-precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false},"track-performance":{"name":"track-performance","displayName":"Track Performance","identifiesControllerService":false,"sensitive":false},"max-performance-metrics":{"name":"max-performance-metrics","displayName":"Maximum Number of Files to Track","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false},"max-operation-time":{"name":"max-operation-time","displayName":"Max Disk Operation Time","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"300 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e1d8f9c1-9776-337c-80a2-eb7ac1180724"},{"identifier":"6c39efb9-8eda-3d46-a989-eed89d507169","name":"PutS3Object","comments":"","position":{"x":376.0,"y":304.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.11.4.2.0.3.0-13"},"style":{},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","properties":{"Proxy Host":null,"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","proxy-configuration-service":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":null,"Multipart Upload Max Age Threshold":"7 days","canned-acl":"${s3.permissions.cannedacl}","Signer Override":"Default Signature","Content Type":null,"Write ACL User List":"${s3.permissions.writeacl.users}","server-side-encryption":"None","Read ACL User List":"${s3.permissions.readacl.users}","encryption-service":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","Object Key":"external/measurements_small/${filename}","AWS Credentials Provider service":null,"Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"cnelson2-data","Multipart Upload AgeOff Interval":"60 min","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Credentials File":null,"Region":"us-east-2","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"proxy-user-name":null,"Proxy Host Port":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider service","identifiesControllerService":true,"sensitive":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e1d8f9c1-9776-337c-80a2-eb7ac1180724"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"11d04360-1d13-39ca-bd25-a71682b3f294","name":"","source":{"id":"a25a5753-8e1b-3375-89d2-56eff857fbb2","type":"PROCESSOR","groupId":"e1d8f9c1-9776-337c-80a2-eb7ac1180724","name":"ListFile","comments":""},"destination":{"id":"6b447f4a-7f3b-334f-8dd6-40f51b26a11d","type":"PROCESSOR","groupId":"e1d8f9c1-9776-337c-80a2-eb7ac1180724","name":"FetchFile","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e1d8f9c1-9776-337c-80a2-eb7ac1180724"},{"identifier":"7b722cd7-7f12-3e45-af36-4dea536ffae4","name":"","source":{"id":"6b447f4a-7f3b-334f-8dd6-40f51b26a11d","type":"PROCESSOR","groupId":"e1d8f9c1-9776-337c-80a2-eb7ac1180724","name":"FetchFile","comments":""},"destination":{"id":"6b447f4a-7f3b-334f-8dd6-40f51b26a11d","type":"PROCESSOR","groupId":"e1d8f9c1-9776-337c-80a2-eb7ac1180724","name":"FetchFile","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","permission.denied","not.found"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":846.999986559756,"y":100.99999595006221},{"x":846.999986559756,"y":150.9999959500622}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e1d8f9c1-9776-337c-80a2-eb7ac1180724"},{"identifier":"75361725-6d7e-3cdf-a06e-01c06fe727bf","name":"","source":{"id":"6b447f4a-7f3b-334f-8dd6-40f51b26a11d","type":"PROCESSOR","groupId":"e1d8f9c1-9776-337c-80a2-eb7ac1180724","name":"FetchFile","comments":""},"destination":{"id":"6c39efb9-8eda-3d46-a989-eed89d507169","type":"PROCESSOR","groupId":"e1d8f9c1-9776-337c-80a2-eb7ac1180724","name":"PutS3Object","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e1d8f9c1-9776-337c-80a2-eb7ac1180724"},{"identifier":"d6abf361-ad90-3e89-aa25-739ea42ac910","name":"","source":{"id":"6c39efb9-8eda-3d46-a989-eed89d507169","type":"PROCESSOR","groupId":"e1d8f9c1-9776-337c-80a2-eb7ac1180724","name":"PutS3Object","comments":""},"destination":{"id":"6c39efb9-8eda-3d46-a989-eed89d507169","type":"PROCESSOR","groupId":"e1d8f9c1-9776-337c-80a2-eb7ac1180724","name":"PutS3Object","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":845.0,"y":339.0929260253906},{"x":845.0,"y":389.0929260253906}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e1d8f9c1-9776-337c-80a2-eb7ac1180724"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}