missions/3_nifi_ingestion/FromFTP.json
{"flowContents":{"identifier":"70b55c4c-e249-32c7-8113-6ce99e0bdd99","name":"FromFTP","comments":"","position":{"x":504.0,"y":360.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"e8164471-9842-3051-9941-5f28f50b8d00","name":"FetchSFTP","comments":"","position":{"x":392.0,"y":352.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.2.0.3.0-13"},"style":{},"type":"org.apache.nifi.processors.standard.FetchSFTP","properties":{"Proxy Host":null,"Port":"22","Remote File":"ftp/${filename}","proxy-configuration-service":null,"Http Proxy Username":null,"Hostname":"ec2-3-239-11-101.compute-1.amazonaws.com","Create Directory":"false","Host Key File":null,"Use Compression":"false","Disable Directory Listing":"false","Send Keep Alive On Timeout":"true","Proxy Type":"DIRECT","Completion Strategy":"None","Proxy Port":null,"fetchfiletransfer-notfound-loglevel":"ERROR","Connection Timeout":"30 sec","Data Timeout":"30 sec","Private Key Path":null,"Username":"gravity","Move Destination Directory":null,"Strict Host Key Checking":"false"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Http Proxy Password":{"name":"Http Proxy Password","displayName":"Http Proxy Password","identifiesControllerService":false,"sensitive":true},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false},"Remote File":{"name":"Remote File","displayName":"Remote File","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Http Proxy Username":{"name":"Http Proxy Username","displayName":"Http Proxy Username","identifiesControllerService":false,"sensitive":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false},"Create Directory":{"name":"Create Directory","displayName":"Create Directory","identifiesControllerService":false,"sensitive":false},"Host Key File":{"name":"Host Key File","displayName":"Host Key File","identifiesControllerService":false,"sensitive":false},"Use Compression":{"name":"Use Compression","displayName":"Use Compression","identifiesControllerService":false,"sensitive":false},"Disable Directory Listing":{"name":"Disable Directory Listing","displayName":"Disable Directory Listing","identifiesControllerService":false,"sensitive":false},"Send Keep Alive On Timeout":{"name":"Send Keep Alive On Timeout","displayName":"Send Keep Alive On Timeout","identifiesControllerService":false,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"Private Key Passphrase":{"name":"Private Key Passphrase","displayName":"Private Key Passphrase","identifiesControllerService":false,"sensitive":true},"fetchfiletransfer-notfound-loglevel":{"name":"fetchfiletransfer-notfound-loglevel","displayName":"Log level when file not found","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"Data Timeout":{"name":"Data Timeout","displayName":"Data Timeout","identifiesControllerService":false,"sensitive":false},"Private Key Path":{"name":"Private Key Path","displayName":"Private Key Path","identifiesControllerService":false,"sensitive":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false},"Strict Host Key Checking":{"name":"Strict Host Key Checking","displayName":"Strict Host Key Checking","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"70b55c4c-e249-32c7-8113-6ce99e0bdd99"},{"identifier":"3b352f40-3825-3c79-b483-d367451e2b22","name":"ListSFTP","comments":"","position":{"x":392.0,"y":96.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.11.4.2.0.3.0-13"},"style":{},"type":"org.apache.nifi.processors.standard.ListSFTP","properties":{"Proxy Host":null,"Minimum File Age":"0 sec","et-initial-listing-target":"all","Ignore Dotted Files":"true","Port":"22","proxy-configuration-service":null,"Distributed Cache Service":null,"et-time-window":"60 seconds","Proxy Type":"DIRECT","Connection Timeout":"30 sec","Path Filter Regex":null,"listing-strategy":"timestamps","follow-symlink":"false","Minimum File Size":"0 B","Search Recursively":"false","Strict Host Key Checking":"false","File Filter Regex":null,"Maximum File Age":null,"Http Proxy Username":null,"Hostname":"ec2-3-239-11-101.compute-1.amazonaws.com","Maximum File Size":null,"Remote Path":"ftp","Host Key File":null,"Send Keep Alive On Timeout":"true","Proxy Port":null,"Data Timeout":"30 sec","Private Key Path":null,"Username":"gravity","target-system-timestamp-precision":"auto-detect","et-state-cache":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Http Proxy Password":{"name":"Http Proxy Password","displayName":"Http Proxy Password","identifiesControllerService":false,"sensitive":true},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false},"Ignore Dotted Files":{"name":"Ignore Dotted Files","displayName":"Ignore Dotted Files","identifiesControllerService":false,"sensitive":false},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Private Key Passphrase":{"name":"Private Key Passphrase","displayName":"Private Key Passphrase","identifiesControllerService":false,"sensitive":true},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"Path Filter Regex":{"name":"Path Filter Regex","displayName":"Path Filter Regex","identifiesControllerService":false,"sensitive":false},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false},"follow-symlink":{"name":"follow-symlink","displayName":"Follow symlink","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Search Recursively":{"name":"Search Recursively","displayName":"Search Recursively","identifiesControllerService":false,"sensitive":false},"Strict Host Key Checking":{"name":"Strict Host Key Checking","displayName":"Strict Host Key Checking","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"File Filter Regex":{"name":"File Filter Regex","displayName":"File Filter Regex","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Http Proxy Username":{"name":"Http Proxy Username","displayName":"Http Proxy Username","identifiesControllerService":false,"sensitive":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Remote Path":{"name":"Remote Path","displayName":"Remote Path","identifiesControllerService":false,"sensitive":false},"Host Key File":{"name":"Host Key File","displayName":"Host Key File","identifiesControllerService":false,"sensitive":false},"Send Keep Alive On Timeout":{"name":"Send Keep Alive On Timeout","displayName":"Send Keep Alive On Timeout","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"Data Timeout":{"name":"Data Timeout","displayName":"Data Timeout","identifiesControllerService":false,"sensitive":false},"Private Key Path":{"name":"Private Key Path","displayName":"Private Key Path","identifiesControllerService":false,"sensitive":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"target-system-timestamp-precision":{"name":"target-system-timestamp-precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"70b55c4c-e249-32c7-8113-6ce99e0bdd99"},{"identifier":"fb1e63f5-75a6-36b3-a5ba-b26d7321dcdc","name":"PutS3Object","comments":"","position":{"x":392.0,"y":576.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.11.4.2.0.3.0-13"},"style":{},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","properties":{"Proxy Host":null,"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","proxy-configuration-service":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":null,"Multipart Upload Max Age Threshold":"7 days","canned-acl":"${s3.permissions.cannedacl}","Signer Override":"Default Signature","Content Type":null,"Write ACL User List":"${s3.permissions.writeacl.users}","server-side-encryption":"None","Read ACL User List":"${s3.permissions.readacl.users}","encryption-service":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","Object Key":"external/detectors/${filename}","AWS Credentials Provider service":null,"Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"cnelson2-data","Multipart Upload AgeOff Interval":"60 min","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Credentials File":null,"Region":"us-east-2","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"proxy-user-name":null,"Proxy Host Port":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider service","identifiesControllerService":true,"sensitive":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"70b55c4c-e249-32c7-8113-6ce99e0bdd99"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"5826b5f6-9b63-3528-9e01-33c2a260f767","name":"","source":{"id":"e8164471-9842-3051-9941-5f28f50b8d00","type":"PROCESSOR","groupId":"70b55c4c-e249-32c7-8113-6ce99e0bdd99","name":"FetchSFTP","comments":""},"destination":{"id":"fb1e63f5-75a6-36b3-a5ba-b26d7321dcdc","type":"PROCESSOR","groupId":"70b55c4c-e249-32c7-8113-6ce99e0bdd99","name":"PutS3Object","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"70b55c4c-e249-32c7-8113-6ce99e0bdd99"},{"identifier":"97a98689-412b-32e9-9d58-c78d72340024","name":"","source":{"id":"e8164471-9842-3051-9941-5f28f50b8d00","type":"PROCESSOR","groupId":"70b55c4c-e249-32c7-8113-6ce99e0bdd99","name":"FetchSFTP","comments":""},"destination":{"id":"e8164471-9842-3051-9941-5f28f50b8d00","type":"PROCESSOR","groupId":"70b55c4c-e249-32c7-8113-6ce99e0bdd99","name":"FetchSFTP","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["comms.failure","permission.denied","not.found"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":861.0,"y":391.0},{"x":861.0,"y":441.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"70b55c4c-e249-32c7-8113-6ce99e0bdd99"},{"identifier":"1f45013a-ecd7-31e2-b2d8-65cbfbcddafe","name":"","source":{"id":"fb1e63f5-75a6-36b3-a5ba-b26d7321dcdc","type":"PROCESSOR","groupId":"70b55c4c-e249-32c7-8113-6ce99e0bdd99","name":"PutS3Object","comments":""},"destination":{"id":"fb1e63f5-75a6-36b3-a5ba-b26d7321dcdc","type":"PROCESSOR","groupId":"70b55c4c-e249-32c7-8113-6ce99e0bdd99","name":"PutS3Object","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":861.0,"y":615.0},{"x":861.0,"y":665.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"70b55c4c-e249-32c7-8113-6ce99e0bdd99"},{"identifier":"742e88a2-1e6f-3096-a0a8-f75bad07e983","name":"","source":{"id":"3b352f40-3825-3c79-b483-d367451e2b22","type":"PROCESSOR","groupId":"70b55c4c-e249-32c7-8113-6ce99e0bdd99","name":"ListSFTP","comments":""},"destination":{"id":"e8164471-9842-3051-9941-5f28f50b8d00","type":"PROCESSOR","groupId":"70b55c4c-e249-32c7-8113-6ce99e0bdd99","name":"FetchSFTP","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"70b55c4c-e249-32c7-8113-6ce99e0bdd99"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}